/* Navbar */
.nav-logo{
    border-radius: 12px;
    margin-right: 1rem;
}
.nav-alignment{
    margin-left:1rem;
}
.mt{
    margin:auto;
}
.gif{
    display: flex;
    justify-content: space-around;
    height:600px;
    width:100%;
    background-image: url("https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif");
}
.socials div i{
    color:white;
    font-size:1.5rem;
    text-align: center;
}
.gif-img img{
    height:400px;
    width:400px;
    border-radius: 50%;
}
.circle{
    height:3rem;
    width:3rem;
    border-radius: 50%;
    background-color: rgba(28, 97, 139, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
    margin-top:1.5rem;
}
.socials{
    display:flex;
    justify-content: space-ar;
}
.circle:hover{
    opacity: 0.9;
    border:3px solid white;
    cursor: pointer;
}
.head{
    font-size: 3rem;
    color:white;
    font-weight: 900;
}
.into{
    color:whitesmoke;
    font-weight:500;
    font-size:2rem;
}
.about{
    height:400px;
    width:100%;
    background-color: aliceblue;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    padding: auto;
    display: flex;
    flex-direction: column;
}
.about i{
    color:rgb(14, 14, 98);
    margin-right: 1rem;
}
/* typing effect */

  .container p {
    color:whitesmoke;
    font-weight:600;
    font-size:1.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: white;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
  .about-desc{
    margin: auto;
    text-align: center;
    height:400px;
    width:500px;
    font-size:1.2rem;
  }
  .skills{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: auto;
    margin: auto;
    font-weight: 500;
  }
  .skills div{
    margin:auto;
  }

  /* footer section starts */
.footer {
    height: 450px;
    width:100%;
    /* padding-top: 0; */
    background: rgb(0, 1, 43);
  }
  .footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .box-container .box {
    flex: 1 1 25rem;
    margin-top:3rem;
    
  }
  .footer .box-container .box h3 {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .footer .box-container .box p {
    font-size: 1rem;
    color: #ccc;
    padding: 0.7rem 0;
    text-transform: none;
    text-align: center;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: #ffae00;
  }
  .footer .box-container .box a {
    font-size: 1rem;
    color: rgb(238, 238, 238);
    padding: 0.3rem 0;
    display: block;
    
  }
  .footer .box-container .box a:hover {
    color: #ffae00;
  }
  .footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: 0.2s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
  }
  .footer .box-container .box .share a:hover {
    background: transparent;
    transform: scale(0.98);
    border: 0.1rem solid rgb(180, 178, 178);
    color: #ffae00;
  }
  .footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: 0.1rem solid #fff3;
  }
  .footer .credit a {
    color: #ffae00;
  }
  .footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
  }
  @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @media (max-width: 450px) {
    .footer .box-container .box {
      margin: 1.5rem;
    }
    .footer .box-container .box p {
      padding: 0.7rem;
    }
    .footer .box-container .box .share a {
      padding: 1.2rem;
    }
  }
  /* footer section ends */
  .box-container{
    display: flex;
  }
